.avatar {
  border: 3px solid #777;
}

.avatar-sm {
  width: 48px;
  height: 48px;
  margin: 1px;
}

.navbar-avatar {
  padding-top: 0;
  padding-bottom:0;
}

.navbar-nav form {
  margin: 0;
  padding: 0;
}

body {
  background-image:url('/static/img/dimension/dimension.png');
}

.brand-bar {
  background-color: white;
}
