.avatar {
  border: 2px solid #777;
}

.avatar-sm {
  width: 48px;
  height: 48px;
  margin: 1px;
}

.avatar-xs {
  width: 23px;
  height: 23px;
  margin: 1px;
  border-width: 1px;
}

.navbar-avatar {
  margin: 0 10px;
}

.navbar-nav form {
  margin: 0;
  padding: 0;
}

body {
  background-image:url('/static/img/dimension/dimension.png');
}

.brand-bar {
  background-color: white;
}

.panel-default {
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.book-title, .user-name {
-webkit-font-smoothing: antialiased;
color: #717171;
font-weight: 700;
}

.book-title:hover, .user-name:hover {
color: #717171;
}

html, body {
font-family: 'Helvetica Neue','Helvetica','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',arial,sans-serif;
color: #211922;
font-size: 12px;
}

.book-tile {
  /*height: 280px;*/
}

.book-requested {
  height: 64px;
}

.book-tile .panel-heading {
  padding: 1px 9px;
}

.book-tile .panel-heading h5 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.book-img {
  max-height: 150px;
}

.transaction-info {
  padding-top: 10px;
  padding-bottom: 10px;
}

.img-wrapper {
  text-align: center
}

.title-shadow {
  text-shadow: #e5e5ee 0 1px 0;
  color: #333;
}

