{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{book.title}}</h3>
            </div>
            <div class="panel-body">
                <span class="thumbnail">
                    <img src="{{book.book_info.image_url}}">
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        {% if user %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Book Transactions</h3>
            </div>
            <div class="panel-body">
                {% if user_id != book.owner_id %}
                    {% if not open_user_transaction %}
                         <form method="post" action="{{url_for("request_book", id=book.id)}}">
                            <input type="submit" value="Request Book" class="btn btn-default"/>
                        </form>
                    {% endif %}
                {% elif user_id == book.owner_id %}
                    {% if not transaction_in_progress %}
                        {% if not book_requests %}
                            <h4>There are currently no open transactions</h4>
                        {% else %}
                            {% for transaction in book_requests %}
                            <div class="row">
                                <div class="col-md-12">
                                    <strong>Requester:</strong> <a href="{{url_for("view_library", id=transaction.requester.id)}}">{{transaction.requester.username}}</a>
                                    <form class="pull-right" method="post" action="{{url_for("declare_borrowed", id=transaction.id)}}">
                                        <input type="submit" value="Declare Borrowed" class="btn btn-default"/>
                                    </form>
                                </div>
                            </div>

                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endif %}

                {% if transaction_in_progress %}
                {% if user_id != book.owner_id %}
                    {% if transaction_in_progress.requester_id == user_id %}
                        {% if transaction_in_progress.date_returned == None %}
                            <form method="post" action="{{url_for("return_book", id=transaction_in_progress.id)}}">
                                <input type="submit" value="Return Book" class="btn btn-default"/>
                            </form>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if transaction_in_progress.date_returned != None %}
                     <form method="post" action="{{url_for("confirm_book_returned", id=transaction_in_progress.id)}}">
                        <input type="submit" value="Confirm Book Returned" class="btn btn-default"/>
                    </form>
                    {% endif %}
                {% endif %}
                {% endif%}

                {% for transaction in book.book_transactions %}
                <li><span><strong>Book Requester:</strong> <a href="{{url_for("view_library", id=transaction.requester.id)}}">{{transaction.requester.username}}</a> | <strong>Book Owner:</strong> <a href="{{url_for("view_library", id=transaction.book.owner.id)}}">{{transaction.book.owner.username}}</a></br>
                    <strong>Book requested:</strong> {{transaction.date_requested|datetimeformat}}</br>
                    <strong>Book borrowed:</strong> {{transaction.date_borrowed|datetimeformat}}</br>
                    <strong>Book returned:</strong> {{transaction.date_returned|datetimeformat}}</br>
                    <strong>Book's return confirmed:</strong> {{transaction.date_confirmed|datetimeformat}}</br>
                    </span></br>
                </li>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Book Details</h3>
            </div>
            <div class="panel-body">
                <strong>Author:</strong> {{book.book_info.author}}</br>
                <strong>Number of Pages:</strong> {{book.book_info.number_pages}}</br>
                <strong>Genre:</strong> {{book.book_info.genre}}</br>
                <strong>ISBN:</strong> {{book.book_info.isbn}}</br>
            </br>
            <strong>Editorial Review</strong>
            {% autoescape off%}
            {{book.book_info.editorial_review}}
            {% endautoescape %}
        </div>
    </div>
</div>
</div>

{% endblock %}

