{% extends "base.html" %}
{% block body %}

<form method="post" action="{{url_for("update_user", id=owner.id)}}" role="location">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Specify your location</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <input name="location" type="text" class="form-control" placeholder="Location">
                </div>
            </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-default">update</button>
                </div>
        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Select a new avatar</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    {% for avatar_url in avatar_urls %}
                    <li>
                    <div class="radio">
                        <label>
                            <input type="radio" name="avatar_url" value="{{avatar_url}}"/>
                            <img class="img-circle avatar" src="{{avatar_url}}" width="100" height="100">
                        </label>
                    </div>
                    </li>
                    {% endfor %}

                </ul>

                    <input type="submit" value="update" class="btn btn-default navbar-btn"/>

            </div>
        </div>

    </div>
</div>
</form>

{% endblock %}
