{% extends 'base.html' %}
{% block body %}

<h4>Select an avater</h4>
<form method="post" action="{{url_for("update_user", id=owner.id)}}">
    <!-- need to work on the line above -->
    <div class="radio">
    <label>
        <input type="radio" name="avatar_url" value="/static/img/avatars/sheep.png" checked/>
        sheep
    </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="avatar_url" value="/static/img/avatars/lion.png"/>
        lion
    </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="avatar_url" value="/static/img/avatars/butterowl.png"/>
        butterowl
    </label>
    </div>
<input type="submit" value="update" class="btn btn-default navbar-btn"/>
</form>
<h2>Update your username</h2>

<h2>Update your library</h2>

{% endblock %}
