{% extends 'base.html' %}
{% block body %}

<h3>Welcome to Bookworms</h3>

{% if g.user %}
<div class="container">

    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Books You Can Borrow</h3>
            </div>
            <div class="panel-body">
                {% for book in books|sort(attribute='title') %}
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="{{url_for("view_book", id=book.id)}}"><img src="{{book.book_info.thumbnail_url}}"></img></a>
                            </div>
                            <div class="col-md-8">
                                <strong> <a href="{{url_for("view_book", id=book.id)}}">{{book.title}}</a></strong><br/>
                                {% if not book.get_open_transaction_for_user(g.user.id) %}
                                <strong>From the library of <a href="{{(url_for('view_library', id=book.owner_id))}}">{{book.owner.username}}</a></strong><br/>
                                {% else %}
                                <em>You requested this book from <a href="{{(url_for('view_library', id=book.owner_id))}}">{{book.owner.username}}</a> {{book.get_open_transaction_for_user(g.user.id).date_requested|timedeltaformat}} ago</em>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                    {% if not book.get_open_transaction_for_user(g.user.id) %}
                    <form class="pull-right" method="post" action="{{url_for("request_book", id=book.id)}}">
                        <input type="submit" value="request" class="btn btn-default"/>
                    </form>
                    {% endif %}
                    </div>
                </div>
                <hr/>
                {% else %}
                No books here!
                <a href="{{url_for("new_book")}}">Add a new book</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-6">
        {% if g.user %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Recent Activity</h3>
            </div>
            <div class="panel-body">

                <h3>Requests You've Made</h3>

                {% if not open_user_transactions %}
                <h5>You have no open transactions right now</h5>
                {% else %}

                {% for transaction in open_user_transactions|sort(attribute='date_requested') %}
                <div class="row">
                    <div class="col-md-8">
                        <strong>Book Owner:</strong> <a href="{{url_for("view_library", id=transaction.book.owner_id)}}">{{transaction.book.owner.username}}</a><br/>
                    <strong>Book Title:</strong> <a href="{{url_for("view_book", id=transaction.book.id)}}">{{transaction.book.title}}</a><br/>
                    </div>
                    <div class="col-md-4">

                    {% if transaction.date_borrowed != None %}
                        {% if transaction.date_returned == None %}
                            <form class="pull-right" method="post" action="{{url_for("return_book", id=transaction.id)}}">
                                <input type="submit" value="I returned book" class="btn btn-default"/>
                            </form>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
                <hr/>
                {% endfor %}
                {% endif %}
                <hr/>

                <h3>Your Books</h3>

                {% if not open_transactions_on_users_books %}
                <h5>There are no open transactions on any of your books right now</h5>
                {% else %}

                {% for transaction in open_transactions_on_users_books|sort(attribute='date_requested') %}
                <div class="row">
                    <div class="col-md-8">
                    <strong>Book Requester:</strong> <a href="{{url_for("view_library", id=transaction.requester_id)}}">{{transaction.requester.username}}</a><br/>
                    <strong>Book Title:</strong> <a href="{{url_for("view_book", id=transaction.book.id)}}">{{transaction.book.title}}</a><br/>
                    </div>
                    <div class="col-md-4">
                    {% if transaction.date_borrowed == None %}
                        <form class="pull-right" method="post" action="{{url_for("declare_borrowed", id=transaction.id)}}">
                            <input type="submit" value="declare borrowed" class="btn btn-default"/>
                        </form>
                    {% else %}

                        {% if transaction.date_confirmed == None %}
                         <form class="pull-right" method="post" action="{{url_for("confirm_book_returned", id=transaction.id)}}">
                            <input type="submit" value="confirm book returned" class="btn btn-default"/>
                        </form>
                        {% endif %}

                    {% endif %}
                    </div>
                </div>
                <hr/>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>

</div>
{% endif %}


{% endblock %}
