{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {% if g.user.id == owner.id %}
                    Your Library
                    {% else %}
                    {{owner.username}}'s Library
                    {% endif %}
                </h3>

            </div>
            <div class="panel-body">
                {% for book in owner.books %}
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4">
                            <a href="{{url_for("view_book", id=book.id)}}"><img src="{{book.book_info.thumbnail_url}}"></img></a>
                        </div>
                        <div class="col-md-8">
                            <strong><a href="{{url_for("view_book", id=book.id)}}">{{book.title}}</a></strong><br/>
                            <strong>by {{book.book_info.author}}</strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    {% if g.user == owner %}
                    <form class="pull-right" method="post" action="{{url_for("remove_book", id=book.id)}}">
                        <input type="submit" value="remove" class="btn btn-sm"/>
                    </form>
                    {% endif %}
                </div>
            </div>
                <hr/>
                {% else %}
                    <h2>{{owner.username}}'s library is empty</h2>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {% if g.user.id == owner.id %}
                    Your Transactions
                    {% else %}
                    {{owner.username}}'s Transactions
                    {% endif %}
                </h3>
            </div>
        <div class="panel-body">
            <h3>Current Transactions</h3>

            {% for request in current_user_requests %}

                {% if request.date_returned == None %}
                    {% if request.date_borrowed == None %}
                        {% if g.user.id == owner.id %}
                            You requested <strong><a href="{{url_for("view_book", id=request.book.id)}}">{{request.book.title}}</a></strong> from <a href="{{url_for("view_library", id=request.book.owner_id)}}">{{request.book.owner.username}}</a> {{request.date_requested|timedeltaformat}} ago
                        {% else %}
                            <strong><a href="{{url_for("view_library", id=owner.id)}}">{{owner.username}}</a></strong> requested <strong><a href="{{url_for("view_book", id=request.book.id)}}">{{request.book.title}}</a></strong> from <a href="{{url_for("view_library", id=request.book.owner_id)}}">{{request.book.owner.username}}</a> {{request.date_requested|timedeltaformat}} ago
                        {% endif %}
                    {% else %}
                        {% if g.user.id == owner.id %}
                            You borrowed <strong><a href="{{url_for("view_book", id=request.book.id)}}">{{request.book.title}}</a></strong> from <a href="{{url_for("view_library", id=request.book.owner_id)}}">{{request.book.owner.username}}</a> {{request.date_borrowed|timedeltaformat}} ago
                        {% else %}
                            <strong><a href="{{url_for("view_library", id=owner.id)}}">{{owner.username}}</a></strong> borrowed <strong><a href="{{url_for("view_book", id=request.book.id)}}">{{request.book.title}}</a></strong> from <a href="{{url_for("view_library", id=request.book.owner_id)}}">{{request.book.owner.username}}</a> {{request.date_borrowed|timedeltaformat}} ago
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if g.user.id == owner.id %}
                        You returned <strong><a href="{{url_for("view_book", id=request.book.id)}}">{{request.book.title}}</a></strong> to <a href="{{url_for("view_library", id=request.book.owner_id)}}">{{request.book.owner.username}}</a> {{request.date_returned|timedeltaformat}} ago
                    {% else %}
                        <strong><a href="{{url_for("view_library", id=owner.id)}}">{{owner.username}}</a></strong> returned <strong><a href="{{url_for("view_book", id=request.book.id)}}">{{request.book.title}}</a></strong> from <a href="{{url_for("view_library", id=request.book.owner_id)}}">{{request.book.owner.username}}</a> {{request.date_returned|timedeltaformat}} ago
                    {% endif %}
                {% endif %}
                <hr/>
            {% else %}
            <h5>{{owner.username}} currently has no open transactions</h5>
            {% endfor %}
            <hr/>
            <h3>Past Transactions</h3>

            {% for request in past_user_requests %}

                {% if g.user.id == owner.id %}
                    You finished borrowing <strong><a href="{{url_for("view_book", id=request.book.id)}}">{{request.book.title}}</a></strong> from <strong><a href="{{url_for("view_library", id=request.book.owner_id)}}">{{request.book.owner.username}}</a></strong> {{request.date_confirmed|timedeltaformat}} ago
                {% else %}
                    <strong><a href="{{url_for("view_library", id=owner.id)}}">{{owner.username}}</a></strong> finished borrowing <strong><a href="{{url_for("view_book", id=request.book.id)}}">{{request.book.title}}</a></strong> from <strong><a href="{{url_for("view_library", id=request.book.owner_id)}}">{{request.book.owner.username}}</a></strong> {{request.date_confirmed|timedeltaformat}} ago
                {% endif %}
            <hr/>
            {% else %}
            <h5>{{owner.username}} doesn't have any completed transactions yet</h5>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
