{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {% if g.user.id == owner.id %}
                    Your Books
                    {% else %}
                    {{owner.username}}'s Books
                    {% endif %}
                </h3>

            </div>
            <div class="panel-body">
                {% for book in owner.books %}
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4">
                            <img src="{{book.book_info.thumbnail_url}}"></img>
                        </div>
                        <div class="col-md-8">
                            <strong> <a href="{{url_for("view_book", id=book.id)}}">{{book.title}}</a></strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    {% if g.user == owner %}
                    <form class="pull-right" method="post" action="{{url_for("remove_book", id=book.id)}}">
                        <input type="submit" value="remove" class="btn btn-sm"/>
                    </form>
                    {% endif %}
                </div>
            </div>
                <hr/>
                {% else %}
                    <h2>{{owner.username}}'s library is empty</h2>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {% if g.user.id == owner.id %}
                    Your Transactions
                    {% else %}
                    {{owner.username}}'s Transactions
                    {% endif %}
                </h3>
            </div>
        <div class="panel-body">
            <h3>Current Transactions</h3>

            {% for request in current_user_requests %}

            <strong>Book Title:</strong> <a href="{{url_for("view_book", id=request.book.id)}}">{{request.book.title}}</a><br/>
            <strong>Book Owner:</strong> <a href="{{url_for("view_library", id=request.book.owner_id)}}">{{request.book.owner.username}}</a></br>
                {% if request.date_returned == None %}
                    {% if request.date_borrowed == None %}
                        <strong>Book requested:</strong> {{request.date_requested|datetimeformat}}
                    {% else %}
                        <strong>Borrowed:</strong> {{request.date_borrowed|datetimeformat}}
                    {% endif %}
                {% else %}
                    <strong>Returned:</strong> {{request.date_returned|datetimeformat}}
                {% endif %}
                <hr/>
            {% else %}
            <h5>{{owner.username}} currently has no open transactions</h5>
            {% endfor %}
            <hr/>
            <h3>Past Transactions</h3>

            {% for request in past_user_requests %}

            <strong>Book Title:</strong> <a href="{{url_for("view_book", id=request.book.id)}}">{{request.book.title}}</a><br/>
            <strong>Book Owner:</strong> <a href="{{url_for("view_library", id=request.book.owner_id)}}">{{request.book.owner.username}}</a></br>

            <strong>Borrowed:</strong> {{request.date_borrowed|datetimeformat}}<br/>
            <strong>Return Confirmed:</strong> {{request.date_confirmed|datetimeformat}}
            <hr/>
            {% else %}
            <h5>{{owner.username}} doesn't have any completed transactions yet</h5>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
