<!-- i'm using master.html instead of this template
 -->
{% extends "base.html" %}
{% block body %}
<div class="center-block">
    <form method="post">
    {% for field in form %}
    {{field.label}}
    {{field}}
    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
    <br>

    {% endfor %}

        <input type="submit">
    </form>
</div>


<!-- <form method="post">
    <input type="text" name="email" placeholder="Email"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="submit">
</form> -->
{% endblock %}
