{% extends "base.html" %}
{% block body %}
<html>
    <head>
        <title>Bookworms</title>
         <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            {% if session.get("user_id") == None %}
            <div id="login">
                Login!
                <form method="post">
                {% for field in form %}
                {{field.label}}
                {{field}}
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
                <br>

                {% endfor %}

                    <input type="submit">
                </form>
            </div>
            {% endif %}
            {% for message in get_flashed_messages() %}
                <li>{{ message }}</li>
            {% endfor %}

            {% if session.get("user_id") %}
            <div id="logout">
                <a href="/logout">logout</a>
            </div>
            {% endif %}
            <form method="GET" action="/search" id="search">
                    <input type="text" class="form-control" placeholder="Search for a book" name="search">
                    <button type="submit" class="btn btn-default">Submit</button>
            </form>

        </div>
    </body>
</html>
{% endblock %}
