{% extends "base.html" %}
{% block body %}
<html>
    <head>
        <title>Bookworms</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            {% if session.get("user_id") == None %}
            <div id="login">
                Login!
                <form method="post">
                <div class="form-group col-md-4">
                    {% for field in form %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        {{field}}
                    {% for error in field.errors %}
                    <label class="control-label" for="{{field.id}}">{{error}}</label>
                    {% endfor %}
                    </div>
                {% endfor %}

                    <input class="btn btn-default" type="submit">
                </div>
                </form>
            </div>
            {% endif %}
            {% for message in get_flashed_messages() %}
                <li>{{ message }}</li>
            {% endfor %}

            {% if session.get("user_id") %}
            <div id="logout">
                <a href="/logout">logout</a>
            </div>
            {% endif %}
        </div>
    </body>
</html>
{% endblock %}
