{% extends 'base.html' %}
{% block body %}

<video id='videoElem' width='640' height='480'></video>
<a id="start" class="btn btn-default" href="">Start</a>
<!-- <button type="submit" id="snapshot" class="btn btn-default">snapshot</button> -->
<a id="cancel" class="btn btn-warning" href="">Cancel</a>

<form action="/results" method="get">
    <div>
        <label for="ean">EAN:</label>
        <input type="text" name="ean" />
    </div>
    <div class="button">
        <button type="submit">search</button>
    </div>
</form>

<canvas id='canvasFeed' width='640' height='480'></canvas>
<!-- <canvas id='canvasFeed' width='640' height='480' style='visibility: hidden'></canvas> -->
<script src="/static/js/camera.js"></script>
<script type="text/javascript">
// var takePicture = document.querySelector("#Take-Picture"),
//     showPicture = document.querySelector("#picture");
//     Result = document.querySelector("#textbit");
//     Canvas = document.createElement("canvas");
//     Canvas.width=640;
//     Canvas.height=480;
//     var resultArray = [];
//     ctx = Canvas.getContext("2d");
//     var workerCount = 0;

    window.Camera.askForCamera();

    function receiveMessage(e) {
        console.log(e.data);
        if (!(e.data.success || isCancelled)) {
            setTimeout(processCameraImage, 50)
        }
        if (e.data.success) {
            window.Camera.pauseCapture();
            var ean = e.data.result[0];
            document.location="book_info/"+ean.replace("EAN-13: ", "");
        }
        // if(e.data.success === "log") {
        //     console.log(e.data.result);
        //     return;
        // }
        // workerCount--;
        // if(e.data.success){
        //     var tempArray = e.data.result;
        //     for(var i = 0; i < tempArray.length; i++) {
        //         if(resultArray.indexOf(tempArray[i]) == -1) {
        //             resultArray.push(tempArray[i]);
        //         }
        //     }
        //     Result.innerHTML=resultArray.join("<br />");
        // }else{
        //     if(resultArray.length === 0 && workerCount === 0) {
        //         Result.innerHTML="Decoding failed.";
        //     }
        // }
    }
    var DecodeWorker = new Worker("/static/js/barcodeReader.js");
    // var RightWorker = new Worker("/static/js/barcodeReader.js");
    // var LeftWorker = new Worker("/static/js/barcodeReader.js");
    var FlipWorker = new Worker("/static/js/barcodeReader.js");

    DecodeWorker.onmessage = receiveMessage;
    // RightWorker.onmessage = receiveMessage;
    // LeftWorker.onmessage = receiveMessage;
    FlipWorker.onmessage = receiveMessage;

    function decodeImage(canvas, ctx){
        var data = ctx.getImageData(0, 0, canvas.width, canvas.height).data;

        // // Theoretically this adds contrast
        // for (var i=0; i < data.length; i++) {
        //     p[i] = p[i]+100 < 255 ? p[i]+100 : 255;
        //     p[i+1] = p[i+1]+100 < 255 ? p[i+1]+100 : 255;
        //     p[i+2] = p[i+2]+100 < 255 ? p[i+2]+100 : 255;
        // }

        DecodeWorker.postMessage({pixels: data, cmd: "normal", skip:["Code39", "Code128", "Code93"]});
        // RightWorker.postMessage({pixels: data, cmd: "right"});
        // LeftWorker.postMessage({pixels: data, cmd: "left"});
        //FlipWorker.postMessage({pixels: data, cmd: "flip"});
    }

    function processCameraImage() {
        var canvas = $("canvas#canvasFeed")[0];
        var video = $("#videoElem")[0];
        var context = canvas.getContext("2d");
        context.drawImage(video, 0, 0, video.width, video.height);

        console.log("Got the context");

        decodeImage(canvas, context);
        return false;
    }

    var isCancelled = false;

    $("a#start").click( function(e){
        window.Camera.startCapture();
        processCameraImage();
        isCancelled = false;
        e.preventDefault();
    } );
    $("a#cancel").click( function(e) {
        window.Camera.pauseCapture();
        isCancelled = true;
        e.preventDefault();
    });

    // $('#snapshot')

    // .submit(function(){
    //     var canvasElem = document.getElementById("canvasFeed");
    //     var ctx = canvasElem.getContext('2d')
    //     decodeImage(canvasElem, ctx)
    // });


</script>

{% endblock %}
