{% extends "base.html" %}
{% block body %}

{% if g.user %}
<div class="row">
<div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Barcode Image Capture</h3>
      </div>
      <div class="panel-body">
        <video id="videoElem" width="100%"></video>
        <canvas style="visibility: hidden; position: absolute; top: 0" id="canvasFeed" width="640" height="480"></canvas>
        <div class="btn-group btn-group-justified">
            <a id="start" class="btn btn-default" href="#">Start</a>
            <a id="cancel" class="btn btn-warning" href="#">Pause</a>
        </div>
      </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Alternative Search</h3>
      </div>
      <div class="panel-body">
        <form role="form" action="{{url_for("results")}}" method="get">
            <div class="form-group col-md-6">
            <input type="text" class="form-control" name="ean" placeholder="13 digit ISBN/barcode number">
            </div>
            <input class="btn btn-default" type="submit">
        </form>
      </div>
    </div>
</div>
</div>
{% else %}

<h3>You must be logged in to add a book to your library</h3>

{% endif %}
<script src="/static/js/camera.js"></script>
{% endblock %}
