{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Users</h3>
            </div>
        <div class="panel-body">
            {% for user in users %}
            <div class="row">
                <div class="col-md-4">
                    <img src="/static/img/avatars/sheep.png"></img>
                </div>
                <div class="col-md-8">
                    <h4><a href="{{url_for("view_library", id=user.id)}}">{{user.username}}</a></h4>
                </div>
            </div>
            <hr/>
            {% else %}
            No users here!
        </div>
    </div>
</div>
<a href="{{url_for("register")}}">Register</a>
{% endfor %}
{% endblock %}
